{% extends 'base.html' %}
{% load app_extras %}

{% block page_content %}
<section class="is-hidden-mobile">
  <div id="live-container">
    <div id="live-tile" class="tile is-parent is-2 is-vertical no-padding">
      {% for x in live_tiles %}
      <article id="live-container-{{ x|adjust_live_tile_id }}" class="notification {{ x.0 }} sensor-data-container">
        <p id="live-{{ x|adjust_live_tile_id }}" class="title sensor-data">N/A</p>
        <p class="title is-4">{{ x.1 }}</p>
      </article>
      {% endfor %}
    </div>
    <div id="live-graph" class="tile is-parent is-10 no-padding">
      <article class="tile is-child notification is-dark">
        {% for x in graph_ids %}
        <div id="live-chart-{{ x }}__container" {% if loop.index > 1 %}class="hide"{% endif %}>
          <canvas id="live-chart-{{ x }}"></canvas>
        </div>
        {% endfor %}
      </article>
    </div>
  </div>
</section>
<section class="section is-hidden-tablet">
  Hello
</section>
{% include 'partials/_modal_live_settings.html' %}
<script defer>document.addEventListener('DOMContentLoaded', () => main.initLive({{ samples|tojson }}))</script>
{% endblock %}
