html {
  overflow: hidden !important;
}

.no-padding {
  padding: 0 !important;
}

.navbar-burger span:nth-child(3) {
  top: calc(30px);
}

*:focus {
  outline: none !important;
}

.hide {
  display: none !important;
}

select {
  height: 2rem;
}

.tile.is-ancestor {
  margin-top: 0 !important;
}
